/* google fonts link  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

/* commone style  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.banner-title{
    font-size: 3.5rem;
    color:white;
}
.common-title{
    font-size: 2.6rem;
}
.common-para{
    color:#757575;
    font-size: 1.1rem;
}
.primary-btn{
    background-color: #FD6E0A;
    color: white;
    padding: 18px;
    font-size: 1.3rem;
    border-radius: 5px;
    border: none;
}
.primary-btn:hover{
    background-color: #90735f;
}
/* header start here  */
.header{
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 180px 100px;
    background-image: url(../images/donation7.jpg);
    background-repeat: no-repeat;
    background-position: cover;
}
.header .para{
    color: rgb(233, 217, 217);
}
/* header end here  */
/* main start here  */
/* donet section start here  */
.donet-section{
    margin: 150px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
}
.donet-btn .btn{
    padding: 40px;
    color:#757575;
    font-size: 1.6rem;
    border-radius: 5px;
    margin-bottom: 30px;
}
.donet-btn .btn:hover{
    border: 2px solid rgb(232, 43, 43);
    color: rgb(232, 43, 43);
    background-color: #ac8a84;
    border-radius: 5px;
    
}
.donet-section input{
    border: none;
    outline-style: none;
    border-bottom: 1px solid gray; 
    text-align: center;
    font-size: 1.3rem;
}

/* donet section end here  */


/* donet plane section start here  */
.donet-plan-section{
    display: flex;
    flex-direction: column;
    gap:45px;
    align-items: center;
    text-align: center;
    margin: 0 180px;
    margin-bottom: 200px;
}
.donet-plane-card{
    display: flex;
    gap: 35px;
    align-items: center;
}
.donet-plane-card .card{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 300px;
    height: 350px;
    padding: 26px;
    box-shadow: 5px 10px 8px 10px #888888;
    text-align: left;
    border-radius: 8px;
}
.donet-plane-card .card img{
    width: 80px;
}
.donet-plane-card .card .card-title{
    font-size: 1.4rem;
    font-weight: 600;
}
.donet-plane-card .card .card-para{
    color:#757575;
}
#one{
   background-color:  rgba(79, 157, 166, 0.1);
}
#two{
    background-color: rgba(255, 89, 89, 0.1);;
}
#three{
    background-color: #d9c1af;
}
/* artical section one start here  */
.artical-section{
    display: flex;
    gap: 50px;
    margin: 0 150px;
    margin-bottom: 150px;
    
}
.artical-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.artical-left-btn{
    align-self: start;
}
.artical-right-img{
    max-width: 600px;
    border-radius: 6px;
}
/* artical section one end here  */
/* donet plane section end here  */
/* main end here  */



/* form start here  */
.from{
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-bottom: 150px;
    align-items: center;
    text-align: center;
}
.huday{
    background-color: rgb(197, 212, 55);
    width: 600px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    
}
 form input{
    padding: 8px;
    border:none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
 }
.huday .btn{
    padding: 8px;
    border:none;  
    background-color: #FD6E0A;
    color:white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
/* form end here  */
/* footer start here  */
footer{
    background-color: black;
    color: white;
    text-align: center;
}
.footer-text{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
    text-align: center;
}
.footer-text h2{
    font-family: 'Shrikhand', cursive;
    color:rgb(232, 43, 43);
}
/* footer end here  */